@font-face {
    font-family: krunker;
    src: url("font2.ttf");
}

body {
    image-rendering: pixelated;
    background-color: #171c28;
    font-family: krunker, serif;
    color: white;
    overflow: hidden;
}

#item-links, #search-bar, a, button {
    color: white;
    background-color: #222;
    text-decoration: none;
    padding: 6px 15px;
    outline: 0;
    /*margin: 5px;*/
    border: none;
    font-family: krunker, serif;
    font-size: 19px;
}

a, button {
    border-radius: 10px;
}

.item-buttons > button, .item-buttons > a {
    text-align: center;
}

#item-links {
    border-radius: 10px 0 0 10px;
}

#search-bar {
    border-radius: 0 10px 10px 0;
    text-align: left;
}

#search-bar > button, #search-bar > a {
    text-align: left;
}

#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 1fr 1fr 100fr;
}

.dropdown-label {
    width: inherit;
}

.item-info {
    visibility: hidden;
}

#item-name, #version {
    grid-row: 1;
}

#item-links, #search-bar {
    grid-row: 2;
}

#item-json, #item-list {
    grid-row: 3;
}

#item-name, #item-links, #item-json {
    grid-column: 1;
}

#version, #search-bar, #item-list {
    grid-column: 2;
}

#item-list {
    overflow: auto;
}

#search-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    flex-direction: row;
}

#search-bar > .dropdown {
    grid-row: 1;
}

#paginate-page {
    grid-column: 1;
}

#paginate-buttons {
    grid-column: 2;
}

#paginate-page, #paginate-buttons {
    grid-row: 2;
}

input[type="text"] {
    border-radius: 10px;
    font-family: krunker, serif;
    outline: 0;
    box-shadow: none;
    height: 100%;
}

.dropdown-popup {
    background-color: #222;
    display: none;
    position: absolute;
    border-radius: 10px;
    transform: translateY(45px);
    flex-direction: column;
}

.dropdown-toggle {
    display: flex;
    flex-direction: column;
}

.dropdown-toggle:hover {
    border-radius: 10px 10px 0 0;
}

.dropdown-toggle:hover > .dropdown-popup {
    display: flex;
    z-index: 1000;
}

.dropdown-popup > button {
    border-radius: 0;
}

.dropdown-popup > button:first-child {
    border-radius: 0 10px 0 0;
}

.dropdown-popup > button:last-child {
    border-radius: 0 0 10px 10px;
}

.item-buttons button, .item-buttons a {
    margin-top: 10px;
}

.item {
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    padding: 10px;
    display: inline-block;
    margin: 8px;
    position: relative;
    background-color: #353535;
}

.item:hover .item-label {
    visibility: hidden;
}

.item:not(:hover) .item-event {
    visibility: hidden;
}

.item:not(:hover) .item-season {
    visibility: hidden;
}

.item:not(:hover) .item-buttons {
    visibility: hidden;
}

.item:hover .item-preview {
    opacity: 0.3;
}

.item-preview {
    color: #353535;
    width: 200px;
    height: 200px;
}

.item-label {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: block;
    position: absolute;
    font-size: 19px;
    width: 100%;
    text-align: center;
}

.item-season {
    color: white;
    position: absolute;
    font-size: 14px;
    height: 28px;
    top: 8px;
    left: 12px;
}

.item-event {
    background-color: #41c300;
    color: white;
    clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
    position: absolute;
    font-size: 14px;
    height: 28px;
    text-align: center;
    line-height: 30px;
    text-shadow: none;
    bottom: -5px;
    left: -5px;
    width: unset;
    padding-left: 10px;
    padding-right: 25px;
    display: block;
}

.item-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

button:hover, a:hover {
    background-color: #111;
}

pre {
    background-color: #111;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

@keyframes unob-border {
    0%, 100% {
        color: crimson;
    }

    20% {
        color: orange;
    }

    40% {
        color: #ff0;
    }

    60% {
        color: lime;
    }

    80% {
        color: mediumblue;
    }
}

@keyframes rgb-preview {
    0% {
        filter: hue-rotate(10deg) brightness(2);
    }

    100% {
        filter: hue-rotate(360deg) brightness(2);
    }
}

.unob-border {
    animation: unob-border 0.5s linear infinite;
}

.rgb-preview {
    animation: rgb-preview 0.8s steps(36) infinite;
}